@import 'font-icons';

// colors
$black: #000;
$white: #fff;
$panelBG : #16a085;
$cellActiveBG: #ecf0f1;
$cellHoverBG: #ecf0f1;
$cellDefaultBG: $white;
$cellColor1: #34495e;
$cellColor2: #c0392b;
$cellXBG: #3498db;
$cellOBG: #e67e22;
$winnerCell: #c0392b;
$cellBoxShadow: #16a085;
$cellSize : 75px;

// icon mixin
@mixin icon-gen($icon) {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  display: block;
  line-height: 1;
  content: $icon;
}

@mixin icon-x {
  @include icon-gen("x");
  font-size: 3em;
}

@mixin icon-o {
  @include icon-gen("o");
  font-size: 2.4em;
}

// styles
.t3-game {
  display: flex;
  justify-content: center;
}

.t3-panel {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 165px;
	padding: 0 15px;
  font: 18px Verdana;
  color: $white;
  background: $panelBG;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba($black, 50);
	text-align: center;
  transition: all .3s ease-in-out;

  &--active-x {
    background: $cellXBG;
  }

  &--active-o {
    background: $cellOBG;
  }

  &--active-x,
  &--active-o {
    cursor: default;
  }
}

.t3-panel-item {
	margin: 0 0 15px;
}

.t3-text {
	vertical-align: middle;

	&--small {
		font-size: 70%;
	}

	&--bold {
		font-weight: bold;
		font-size: 150%;
	}
}

.t3-field {
  display: flex;
  flex-flow: column;
  padding: 2px;
  border: 2px solid $panelBG;
  border-right: 0;
	transition: all .3s ease-in-out;

	&--active-x {
		border-color: $cellXBG;
	}

	&--active-o {
		border-color: $cellOBG;
	}

	&--not-active {
		.t3-cell:not(.t3-cell--winner) {
			opacity: .35;
		}
	}
}

.t3-row {
  display: flex;
}

.t3-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cellSize;
  height: $cellSize;
  margin: 2px;
  color: rgba($cellColor1, .2);
  background: $white;
  box-shadow: 0 0 1px $cellBoxShadow inset;
  text-shadow: -1px 5px 5px rgba($black, 0);
  border-radius: 2px;
  overflow: hidden;
  transition: background .25s ease-in-out, color .3s linear , text-shadow .2s linear, opacity .25s ease-in-out;

	&--x,
	&--o {
		color: $cellColor1;
		text-shadow: -1px 5px 5px rgba($black, 100);
		box-shadow: none;
		cursor: default;
	}

  &--x {
    background: $cellXBG;

    &:before {
      @include icon-x;
    }
  }

  &--o {
    background: $cellOBG;

    &:before {
      @include icon-o;
    }
  }

	&--winner {
		background: $winnerCell;
		font-size: 135%;
		color: $cellHoverBG;
		transition: transform .1s;
		transform: scale(1.1);
		backface-visibility: hidden;
		border-radius: 0;
	}

	&--potential-x,
	&--potential-o {
		cursor: pointer;
	}

	&--potential-x {
		&:before {
			@include icon-x;
		}

		&:hover {
			background: rgba($cellXBG, .5);
		}
	}

	&--potential-o {
		&:before {
			@include icon-o;
		}

		&:hover {
			background: rgba($cellOBG, .5);
		}
	}
}

@keyframes cell-win {

}
