@import 'font-icons';

@mixin icon($icon) {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  content: $icon;
}

$black: #000;
$white: #fff;
$cellActiveBG: #ecf0f1;
$cellHoverBG: #ecf0f1;
$cellDefaultBG: $white;
$cellColor1: #34495e;
$cellColor2: #c0392b;
$cellXBG: #3498db;
$cellYBG: #e67e22;
$cellBoxShadow: #16a085;
$cellSize : 75px;

.ttt-game {
  display: flex;
  justify-content: center;
}

.ttt-field {
  display: flex;
  flex-flow: column;
  padding: 2px;
  font-size: 25px;
  border: 1px solid #2c3e50;
}

.ttt-row {
  display: flex;
}

.ttt-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cellSize;
  height: $cellSize;
  margin: 2px;
  color: $cellColor1;
  background: $white;
  box-shadow: 0 0 1px $cellBoxShadow inset;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: background .2s;

  &:hover {
    background: $cellHoverBG;
  }

  &--x {
    background: $cellXBG !important;

    &:before {
      @include icon("x");
      display: block;
      padding-top: 15%;
      font-size: 3em;
      text-shadow: 2px 2px 1px rgba($black, 100);
    }
  }

  &--o {
    background: $cellYBG !important;

    &:before {
      @include icon("o");
      display: block;
      padding-top: 2%;
      font-size: 2.2em;
      text-shadow: 2px 2px 1px rgba($black, 100);
    }
  }

  &--x,
  &--o {
    //background: $cellActiveBG;
    box-shadow: none;
    cursor: default;
  }
}
